#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  max-width: 200px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: darkkhaki;
}



tr:hover {
  background-color: darkkhaki;
}

nav {
  position: fixed; 
  top: 0; 
  right: 0; 
}

.home-link 
{
  border:1px dotted white;
  background:darkkhaki;
  width:75px;
  list-style-type: none; /* Remove bullets */
}


