#root {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#titleDesc {
  flex-grow: 0.25;
  display: flex;
  flex-direction: column;
  column-gap: 10;
}
h1 {
  font-size: 90px;
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-weight: 450;
  font-size: 20px;
  line-height: 1;
}

#img {
  width: 100px;
  height: 100px;
}





