:root{
  background-color: lavenderblush;
  text-rendering: optimizeLegibility;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.Bar {
  width: 300px;
  background-color: lightcoral;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.Bar h6, h5 {
  line-height: 0px;
  align-content: center;
  margin: 20px;
}

.Bar h5 {
  font-size: 30px;
}

.Bar button {
  background-color:aliceblue;
  color: grey;
  border-radius: 40px;
  margin: 20px;
  font-size: 20px;
  
}

.Bar img {
  height: 300px;
  max-width: 90%;
}


